.landing {
    background-image:url(imgs/marketing\ landing\ pg.webp);
    background-repeat:no-repeat;
    background-size:cover;
    height:30vh;
    background-position: center;
}

.landingtitle {
    font-size:6vw;
    color:black;
}

.textbackground {
    background-color: white;
    border: solid 5px black;
}

.overview {
    background-color: blue;
    height:100vh;
}

.education {
    background-color: red;
    height:100vh;
}

.earnings {
    background-color: green;
    height:100vh;
}