.landing {
    background-image:url(imgs/marketing\ landing\ pg.webp);
    background-repeat:no-repeat;
    background-size:cover;
    height:30vh;
    background-position: center;
}

.landingtitle {
    font-size:6vw;
    color:black;
}

.textbackground {
    background-color: white;
    border: solid 5px black;
}

.overview {
    background-color: rgb(236, 234, 234);
    height:fit-content;
}

.education {
    background-color: rgb(226, 202, 202);
    height:fit-content;
}

.earnings {
    background-color: rgb(187, 198, 221);
    height:fit-content;
}

.h-overview {
    font-size:5vw;
}

.info-overview {
    font-size:2.5vw;
}

.subway {
    border: rgb(0, 0, 0) solid 5px;
    border-radius:5px;
}